@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-ExtraBold.eot');
  src: url('../font/GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-ExtraBold.woff2') format('woff2'),
  url('../font/GreycliffCF-ExtraBold.woff') format('woff'),
  url('../font/GreycliffCF-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-Bold.eot');
  src: url('../font/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-Bold.woff2') format('woff2'),
  url('../font/GreycliffCF-Bold.woff') format('woff'),
  url('../font/GreycliffCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-Regular.eot');
  src: url('../font/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-Regular.woff2') format('woff2'),
  url('../font/GreycliffCF-Regular.woff') format('woff'),
  url('../font/GreycliffCF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-Medium.eot');
  src: url('../font/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-Medium.woff2') format('woff2'),
  url('../font/GreycliffCF-Medium.woff') format('woff'),
  url('../font/GreycliffCF-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-LightOblique.eot');
  src: url('../font/GreycliffCF-LightOblique.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-LightOblique.woff2') format('woff2'),
  url('../font/GreycliffCF-LightOblique.woff') format('woff'),
  url('../font/GreycliffCF-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../font/GreycliffCF-Light.eot');
  src: url('../font/GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/GreycliffCF-Light.woff2') format('woff2'),
  url('../font/GreycliffCF-Light.woff') format('woff'),
  url('../font/GreycliffCF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quincy CF';
  src: url('../font/quincy/QuincyCF-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
